@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --color-primary: #52C3A9;
  --color-primary-light: #75dcc1;
  --color-primary-dark: #24896e;
  --color-accent: #FD6130;
  --color-accent-light: #ff8c6e;
  --color-accent-dark: #d74b0b;
  --color-background: #F8F8F8;
  --color-text: #333333;
  --color-text-light: #666666;
}




a {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-accent);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
}

p {
  color: var(--color-text-light);
}

button {
  background-color: var(--color-accent);
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color-accent-dark);
}